%header-title {
  font-weight: 700;
  font-size: 72px;
}

%title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
}
%title2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
}

%subtitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

%text {
  font-size: 16px;
  font-weight: 500;
  color: $black;
}

%main-text {
  font-size: 22px;
  font-weight: 500;
  color: $black;
}

%link {
  font-size: 14px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
}
