@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import "./_reset.scss";
@import "./_vars.scss";
@import "./_extend.scss";
@import "./_adaptive.scss";

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  padding: 30px 0px 0px 0px;
  @include _1440 {
    padding: 15px 0px 0px 0px;
  }
  @include _1280 {
    padding: 15px 0px 0px 0px;
  }
  @include _1024 {
    padding: 8px 0px 0px 0px;
  }
  @include _768 {
    padding: 7px 0px 0px 0px;
  }
  @include _375 {
    padding: 4px 0px 0px 0px;
  }
}
.container {
  @include _2560 {
    padding: 0px 40px 0px 40px;
    max-width: 2560px;
    margin: 0 auto;
  }
  @include _1920 {
    padding: 0px 45px 0px 45px;
    max-width: 1920px;
    margin: 0 auto;
  }

  @include _1440 {
    padding: 0px 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
  @include _1280 {
    padding: 0px 20px;
    max-width: 1280px;
    margin: 0 auto;
  }
  @include _1024 {
    padding: 0px 15px;
    max-width: 1024px;
    margin: 0 auto;
  }
  @include _768 {
    padding: 0px 8px;
    max-width: 768px;
    margin: 0 auto;
  }
  @include _375 {
    padding: 0px 5px;
    max-width: 375px;
    margin: 0 auto;
  }
}

.nav {
  &__wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in;
    padding: 0 93px;
    @include _1440 {
      padding: 0 55px;
    }
  }

  &__wrapper.has-active {
    background-color: $white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 10;
    padding: 0 45px;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  &__menu-logo a {
    font-weight: 700;
    font-size: 46px;
    color: $black;
    @include _1440 {
      font-size: 30px;
    }
    @include _1280 {
      font-size: 24px;
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    margin: 0px auto 0px 49px;
  }

  &__menu-item {
    position: relative;
    margin: 0px 36px 0px 0px;
    @include _1440 {
      margin: 0px 24px 0px 0px;
    }
    &:nth-child(4) {
      margin: 0px 52px 0px 0px;
      cursor: pointer;
      @include _1440 {
        margin: 0px 38px 0px 0px;
      }
    }
  }

  &__menu-item::after {
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $black;
    transition: width 200ms ease-in;
  }

  &__menu-item:hover::after {
    width: 100%;
  }

  &__menu-link {
    @extend %link;
    display: flex;
    align-items: center;
    padding: 25px 0px 25px 0px;
    @extend %text;
    @include _1440 {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
    }
  }
  &__menu-link.has-active {
    color: $orange;
  }

  &__menu-arrow::before {
    content: "";
    position: absolute;
    top: 25px;
    right: -22px;
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-color: transparent transparent $black $black;
    border-radius: 2px;
    opacity: 1;
    transform: rotate(-45deg);
    transition: 0.5s all ease;
  }
  &__menu-arrow.has-active::before {
    border-color: transparent transparent $orange $orange;
  }

  &__menu-arrow:hover::before,
  &__menu-arrow:focus::before {
    top: 31px;
    transform: rotate(-225deg);
    transition: 0.5s all ease;
  }

  &__submenu {
    position: absolute;
    width: 165px;
    top: 68px;
    left: -10px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 4px 20px rgba($black, 0.15);
    padding: 15px;
    z-index: 20;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }

  &__menu-item:hover &__submenu,
  &__menu-item:focus &__submenu {
    opacity: 1;
    visibility: visible;
  }

  &__submenu-list {
    padding: 15px;
    text-align: center;
  }

  &__submenu-list:hover {
    background-color: $orange;
    border-radius: 10px;
  }

  &__submenu-link {
    @extend %link;
  }
}

.selectlang {
  &__wrapper {
    max-width: 135px;
    margin: 0px 15px 0px 0px;
    z-index: 20;
  }

  &__default {
    position: relative;
    background-color: $white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid $orange;
    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 18px;
      width: 10px;
      height: 10px;
      border: 2px solid;
      border-color: transparent transparent $black $black;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: 0.8s all ease;
    }
  }

  &__default.has-active::after {
    top: 23px;
    transform: rotate(-225deg);
    transition: 0.8s all ease;
  }

  &__default-list {
    padding: 10px 45px 10px 15px;
  }

  &__default-link {
    display: flex;
    align-items: center;
  }

  &__default-icon {
    margin: 0px 13px 0px 0px;
  }

  &__default-text {
    @extend %link;
    margin: 0px 16px 0px 0px;
    &:hover {
      color: $black;
      opacity: 0.4;
    }
  }

  &__select {
    position: absolute;
    background-color: $white;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s all ease;
    margin: 15px 0px 0px 0px;
  }

  &__select.has-active {
    visibility: visible;
    opacity: 1;
  }

  &__option {
    padding: 5px;
  }

  &__option-list {
    padding: 10px 32px 10px 15px;
    &:hover {
      background: $orange;
      border-radius: 6px;
    }
  }
  &__option-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__option-icon {
    margin: 0px 13px 0px 0px;
  }

  &__option-text {
    margin: 0px 16px 0px 0px;
    @extend %link;
  }
}

.login {
  &__wrapper {
    display: flex;
    align-items: center;
    background-color: $black;
    padding: 15px 26px 15px 26px;
    @include _1440 {
      padding: 10px 20px;
    }
    border-radius: 10px;
  }

  &__icon {
    margin: 0px 15px 0px 0px;
    width: 16px;
    height: auto;
  }
  &__link {
    @extend %link;
    color: $white;
    @include _1440 {
      font-size: 13px;
      font-weight: 700;
      line-height: 0;
      letter-spacing: 0em;
    }
  }
  &__border {
    margin: 0px 7px 0px 7px;
    color: $white;
  }
}

.header {
  &__wrapper {
    background: $orange;
    max-height: 900px;
    border-radius: 16px;
    padding: 180px 0px 90px 0px;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1420px;
    margin: 0 auto;
    @include _1440 {
      max-width: 1080px;
    }
  }

  &__text {
    flex: 0 1 50%;
  }

  &__title {
    @extend %title;
    margin: 0px 0px 33px 0px;
    @include _1440 {
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0em;
      margin: 0px 0px 41px 0px;
    }
  }

  &__subtitle {
    @extend %subtitle;
    margin: 0px 0px 72px 0px;
    @include _1440 {
      font-size: 20px;
      font-weight: 500;
      margin: 0px 0px 67px 0px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__image {
    flex: 0 1 50%;
  }

  &__bottom-img {
    margin: 0px 20px 0px 0px;
    &:nth-child(4) {
      margin: 0;
    }
  }
}

.btnblack {
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 0px;
  background-color: $black;
  padding: 20px 0px 20px 23px;
  border-radius: 12px;
  @include _1440 {
    padding: 15px 20px;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__text {
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    padding: 0px 28px 0px 16px;
    @include _1440 {
      font-size: 12px;
      font-weight: 700;
    }
  }
}
.btnwhite {
  background-color: $white;
  border-radius: 12px;
  &__link {
    display: inline-block;
    padding: 25px 35px 25px 35px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: $black;
    text-transform: uppercase;
  }
}

.about {
  &__wrapper {
    margin: 140px auto 0px auto;
    max-width: 1420px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 52px 0px;
  }

  &__top-text {
    flex: 0 1 50%;
  }

  &__top-text-title {
    @extend %title;
    margin: 0px 0px 46px 0px;
  }

  &__top-text-subtitle {
    @extend %subtitle;
    margin: 0px 0px 30px 0px;
  }

  &__top-text-hover {
    border-bottom: 1px solid $black;
    cursor: pointer;
    &:hover {
      background-color: #fbd166;
      opacity: 0.7;
      border-bottom: 0px;
    }
  }

  &__top-image {
    flex: 0 1 40%;
  }

  &__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $orange;
    border-radius: 16px;
    padding: 40px 150px 40px 86px;
    margin: 52px 0px 0px 0px;
  }

  &__bottom-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin: 0px 120px 0px 0px;
  }

  &__bottom-item {
    display: flex;
    align-items: center;
  }

  &__bottom-item-title {
    @extend %title;
    color: $orange;
    margin: 0px 20px 0px 0px;
  }

  &__bottom-item-subtitle {
    font-size: 22px;
    font-weight: 700;
    color: $orange;
  }

  &__bottom-border {
    width: 80px;
    height: 1px;
    background-color: $orange;
    transform: rotate(-75deg);
  }
}

.questions {
  &__wrapper {
    margin: 141px auto 0px auto;
    background-color: $orange;
    padding: 60px 0px 60px 0px;
    border-radius: 16px;
  }

  &__title {
    @extend %title2;
    color: $black;
    margin: 0px auto 50px auto;
    max-width: 1420px;
  }

  &__accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1420px;
    margin: 0 auto;
  }

  &__accordion-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
  }

  &__accordion-content {
    background: $white;
    border-radius: 16px;
    margin: 0px 0px 25px 0px;
    cursor: pointer;
    position: relative;
    &:last-child {
      margin: 0;
    }
  }

  &__accordion-img {
    flex: 0 1 40%;
  }

  &__accordion-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__accordion-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    padding: 32px 0px 38px 44px;
    line-height: 124%;
    color: $black;
  }

  &__accordion-content.has-active &__accordion-title {
    color: $orange;
  }

  &__accordion-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: linear-gradient(51.62deg, #fdf4f5 -0.94%, #f8eae2 33.37%, #faebdf 63.39%);
    margin: 0px 50px 0px 0px;
    &::before,
    &::after {
      position: absolute;
      top: 45px;
      right: 66px;
      content: "";
      width: 18px;
      height: 3px;
      border-radius: 13px;
      background-color: $orange;
      transition: 0.7s all ease;
    }
    &::before {
      transform: rotate(0deg);
    }
    &::after {
      transform: rotate(-90deg);
    }
  }

  &__accordion-text {
    @extend %text;
    position: relative;
    line-height: 175%;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    padding: 0px 136px 0px 0px;
    transition: 0.7s all ease;
  }

  &__accordion-content.has-active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  }

  &__accordion-content.has-active &__accordion-text {
    padding: 0px 136px 24px 44px;
    opacity: 1;
    visibility: visible;
    height: 280px;
  }

  &__accordion-content.has-active &__accordion-circle {
    &::before {
      transform: rotate(0deg);
    }
    &::after {
      transform: rotate(0deg);
    }
  }
}

.order {
  &__wrapper {
    margin: 140px auto 100px auto;
    max-width: 1420px;
  }

  &__title {
    @extend %title2;
    margin: 0px 0px 68px 0px;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }

  &__card {
    padding: 25px 25px 35px 25px;
    max-width: 440px;
    border-radius: 16px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: default;
    overflow: hidden;
    position: relative;
    transition: 0.5s all ease;
  }
  &__card:hover {
    transform: scale(1.11);
  }

  &__card-img {
    margin: 0px 0px 25px 0px;
  }

  &__card-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    color: $black;
    margin: 0px 0px 20px 0px;
  }

  &__card-subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: $black;
    margin: 0px 0px 20px 0px;
  }

  &__card-text {
    font-size: 30px;
    font-weight: 700;
    color: $orange;
  }
  &__card-hover {
    transform: scale(0, 0);
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(97, 97, 97, 0.56) 15%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: 0.5s all ease;
  }
  &__card-hover-text {
    padding: 15px 25px;
    font-size: 30px;
    font-weight: 700;
    color: $black;
    background-color: $orange;
    text-transform: uppercase;
    border-radius: 16px;
  }

  &__card:hover &__card-hover {
    transform: scale(1, 1);
  }
}

.cook {
  &__wrapper {
    margin: 140px auto 40px auto;
    max-width: 1420px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 82px 0px;
  }

  &__top-title {
    @extend %title2;
  }

  &__top-arrows {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__top-arrows-prev {
    margin: 0px 7px 0px 0px;
    cursor: pointer;
  }
  &__top-arrows-next {
    margin: 0px 0px 0px 7px;
    cursor: pointer;
  }
}

.slider {
  overflow: hidden;
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1420px;
    transition: 0.7s all ease;
  }

  &__cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 25%;
    max-width: 360px;
  }

  &__cards-item-img {
    margin: 0px 0px 40px 0px;
    max-width: 80%;
  }
  &__cards-item-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    color: $black;
    margin: 0px 0px 20px 0px;
  }

  &__cards-item-subtitle {
    font-size: 26px;
    font-weight: 700;
    opacity: 0.3;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  &__cards-item-text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}

.footer {
  background-color: $black;
  margin-top: auto;
  &__wrapper {
    max-width: 1420px;
    margin: 0 auto;
    padding: 30px 0px 34px 0px;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__top-logo {
    margin: 0px 40px 0px 0px;
  }
  &__top-logo-link {
    color: $white;
    font-size: 30px;
  }
  &__top-list {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  &__top-item {
    margin: 0px 60px 0px 0px;
    &:nth-child(2) {
      margin: 0;
    }
  }
  &__top-link {
    color: $white;
    @extend %text;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social-item {
    margin: 0px 20px 0px 0px;
    &:nth-child(4) {
      margin: 0;
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    margin: 40px 0px 40px 0px;
  }

  &__middle-icon {
    margin: 0px 55px 0px 0px;
    &:nth-child(4) {
      margin: 0;
    }
  }

  &__bottom-list {
    display: flex;
    align-items: center;
    margin: 0px 0px 34px 0px;
  }

  &__bottom-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin: 0px 50px 0px 0px;
    &:nth-child(5) {
      margin: 0;
    }
  }

  &__bottom-link {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    opacity: 0.4;
  }

  &__copyrigth {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    opacity: 0.4;
  }
}
.buttonup {
  position: relative;
  &__arrow {
    position: fixed;
    bottom: 35px;
    right: 40px;
    cursor: pointer;
  }
}
